################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Labs#1 - Unit & Integration Tests/~$- Unit & Integration Test Lab#1.docx
